{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-pad">
            <div class="row  mt-3 mb-5">
                <div class="mb-5">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}

                        <input type="submit" class="btn rounded-2 py-2 text-capitalize mt-4 btn-bg-col" value="Edit Review">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}