<div class="inline-flex-pos">
    <a href="{% url 'products' %}" class="btn btn-outline-dark p-1">
        <span class="icon">
            <i class="far fa-hand-point-left"></i>
        </span><br/>
        <span class="text-capitalize btn-text-size">Keep Shopping</span>
    </a>
    <a href="{% url 'checkout' %}" class="btn text-uppercase btn-bg-col p-1">
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span><br/>
        <span class="text-capitalize btn-text">Secure Checkout</span>
    </a>
</div>