{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5 d-flex align-items-center">
        <div class="row py-5">
            <div class="col-8 col-md-6 offset-md-1 header-text align-self-center">
                <h1 class="text-shadow">Join the summer shredding challenge today</h1>
            </div>
            <div class="col-8 col-md-6 offset-md-1 align-self-center my-3">
                <h4 class="text-darker">
                    <a href="{% url 'products' %}" class="btn btn-lg text-uppercase py-3 btn-bg-col">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}