.posts{
    border: 1px solid #493843;
    padding: 1rem 1.5rem;
}

#comment-info{
    display: none;
}
#add-comment-info{
    display: none;
}
.post-title{
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}
.post-body{
    font-weight: 300;
}

/* Styling rich text editor */
.cke_inner{
    width: auto;
}