{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-pad mt-2 mb-5">
        <div class="row">
            <!-- checkout success header and message  -->
            <div class="col">
                <h2 class="fw-bold mb-4 display-6">Thank You</h2>
                <hr>
                <p class="small text-muted text-darker">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7 py-3 px-2">
                <div class="order-confirmation py-3 border">
                    <!-- order information listed beloow -->
                    <div class="row px-2">
                        <div class="col-12">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Order Number:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0 text-break">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <hr>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Order Date:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                    <hr>

                    <div class="row px-2">
                        <div class="col-12">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>

                    <!-- gets all items in the order -->
                    {% for item in order.lineitems.all  %}
                        <div class="row px-2">
                            <div class="col-12 col-md-4">
                                <p class="small mb-0 text-darker fw-bold">
                                    {{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}
                                </p>
                            </div>
                            <div class="col-12 col-md-8 align-right">
                                <p class="small mb-0">
                                    {{ item.quantity  }} @ €{{ item.product.price }} each
                                </p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                    <div class="row px-2">
                        <div class="col-12">
                            <small class="text-muted">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Full Name:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Address Line 1:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                        <div class="row px-2">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-darker fw-bold">Address Line 2:</p>
                            </div>
                            <div class="col-12 col-md-8 align-right">
                                <p class="mb-0">{{ order.street_address2 }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if order.county %}
                        <div class="row px-2">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-darker fw-bold">County:</p>
                            </div>
                            <div class="col-12 col-md-8 align-right">
                                <p class="mb-0">{{ order.county }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Town or City:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                        <div class="row px-2">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-darker fw-bold">Postcode:</p>
                            </div>
                            <div class="col-12 col-md-8 align-right">
                                <p class="mb-0">{{ order.postcode }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Country:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Phone Number:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    <hr>

                    <div class="row px-2">
                        <div class="col-12">
                            <small class="text-muted">Billing Information:</small>
                        </div>
                    </div>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Order Total:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Delivery Charge:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row px-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-darker fw-bold">Grand Total:</p>
                        </div>
                        <div class="col-12 col-md-8 align-right">
                            <p class="mb-0">{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 py-3 align-right">
                <!-- buttons to return to profileor to keep shopping -->
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn text-capitalize rounded-2 py-2 btn-bg-col btn-text">
                        <span class="icon mr-2">
                            <i class="fas fa-hand-point-left"></i>
                        </span><br/>
                        <span class="text-capitalize btn-text-size">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}" class="btn text-capitalize rounded-2 py-2 btn-bg-col btn-text">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span><br/>
                        <span class="text-capitalize btn-text-size btn-text">check out our latest deals!</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

