.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control{
    color: #493843;
}

#profile-update-form input{
    margin: .5rem 0;
}

#profile-update-form input::-webkit-input-placeholder{
    color: #aab7c4;
}

#profile-update-form input::-moz-placeholder{
    color: #aab7c4;
}

#profile-update-form input:-ms-input-placeholder{
    color: #aab7c4;
}

#profile-update-form input::-ms-input-placeholder{
    color: #aab7c4;
}

#profile-update-form input::placeholder{
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #493843;
}

#id_default_country option:first-child {
    color: #aab7c4;
}