@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background: url('/static/images/homepage-background.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.7rem;
    width: 1.7rem;
}


/* Colors */
.bg-color{
    background-color: #493843;
}
.logo-color{
    color: #61988E;
}
.icon-color{
    color: #61988E;
}
a>p{
    color: #61988E;
}
.text-darker{
    color: #2b2428;
}
.text-bright{
    color: #61988E;
}
.btn-bg-col{
    background-color: #61988E;
}
.text-shadow{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-outline-dark{
    background-color: #f5f5f5;
    color: #493843 !important;
    border: 1px solid #493843;
}

/* logo */
.fit-logo{
    height: 100px;
    object-fit: cover;
}

/* navbar */
.navbar-toggler-icon{
    font-size: 2rem;
    padding-top: 0.2rem;
    color: #61988E;
}

/* content block */
.content-block{
    height: 100%;
    width: 100%;
    position: relative;
}

/* overriding bootstrap */
ul{
    margin: 0;
}
.nav-link:hover{
    transition: all 0.4s ease;
    border-bottom: 1px solid #61988E;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus{
    color: #61988E !important;

}

/* Overlay */
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #f5f5f5;
    z-index: -1;
}



/* Back to top button */
.back-to-top-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.back-to-top-link{
    cursor: pointer
}

/* Media queries */
@media (min-width: 1100px){
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px){
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1112;
    }

    .hdr-container{
        padding-top: 164px;
    }
}

@media (max-width: 991px){
    .hdr-container{
        padding-top: 150px;
    }
    body{
        height: calc(100vh - 150px);
    }
}
