@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: url('/static/images/homepage-background.jpg');
    height: calc(100vh - 164px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.7rem;
    width: 1.7rem;
}

/* Colors */
.bg-color{
    background-color: #493843;
}
.logo-color{
    color: #61988E;
}
.icon-color{
    color: #61988E;
}
a>p{
    color: #61988E;
}
a>p:hover{
    color: #61988E;;
}
.text-dark{
    color: #2b2428;
}
.text-bright{
    color: #b3d8d1;
}
.btn-bg-col{
    background-color: #61988E;
}

/* logo */
.fit-logo{
    height: 120px;
    object-fit: cover;
}

/* overriding bootstrap */
ul{
    margin: 0;
}


/* Media queries */
@media (min-width: 1100px){
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px){
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1112;
    }

    .hdr-container{
        padding-top: 164px;
    }
}
