@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');


html,body{
    min-height: 100%
}
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background: url('/static/images/homepage-background.jpg');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Ubuntu', sans-serif;
}

p,
a,
button{
    font-family: 'Roboto', sans-serif;
}

.icon{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1.7rem;
    width: 1.7rem;
}

.btn-text{
    font-weight: 500;
}


/* Colors */
.bg-color{
    background-color: #493843;
}
.logo-color{
    color: #61988E;
}
.icon-color{
    color: #61988E;
}
a>p{
    color: #61988E;
}
.text-darker{
    color: #2b2428;
}
.text-bright{
    color: #61988E;
}
.text-bright:hover{
    color: #61988E;
}
.btn-bg-col{
    background-color: #61988E;
}
.text-shadow{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}
.btn-outline-dark{
    background-color: #f5f5f5;
    color: #493843 !important;
    border: 1px solid #493843;
}
.btn-outline-dark:hover{
    color: #f5f5f5 !important;
    background-color: #61988E !important;
    border: 1px solid #61988E;
}
.toast-bg-col {
    background-color: #f5f5f5;
}

/* logo */
.fit-logo{
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
}
.fit-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #493843;
}
.header-text{
    color: #f5f5f5;
    text-transform: capitalize;
}

/* icons */
.gold-star{
    color: #f9a602;

}

/* navbar */
.navbar-toggler-icon{
    font-size: 2rem;
    padding-top: 0.2rem;
    color: #61988E;
}
.dropdown-menu{
    background-color: #f5f5f5 !important;
    font-family: 'Roboto', sans-serif !important;
}
.dropdown-item{
    color: #493843;
}
.dropdown-item:hover{
    background-color: #61988E;
    color: #f5f5f5;
}

/* content block */
.content-block{
    height: 100%;
    width: 100%;
    position: relative;
}
.container-pad{
    padding-bottom: 4.5rem;
}

/* align text right */
.align-right{
    text-align: right;
}

/* overriding bootstrap */
ul{
    margin: 0;
}
.nav-link:hover{
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-bottom: 1px solid #61988E;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus{
    color: #61988E !important;

}

input[name='search']::-webkit-input-placeholder{
    color: #aab7c4;
}

input[name='search']::-moz-placeholder{
    color: #aab7c4;
}

input[name='search']:-ms-input-placeholder{
    color: #aab7c4;
}

input[name='search']::-ms-input-placeholder{
    color: #aab7c4;
}

input[name='search']::placeholder{
    color: #aab7c4;
}

/* Pagination */
.current{
    color:#493843;
}
.step-links > a{
    color: #61988E;
}

/* Overlay */
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #f5f5f5;
    z-index: -1;
    margin-bottom: 10rem;
}

/* footer */
.page-footer{
    color:#61988E;
}
.social-style{
    margin: 0 0.9rem;
    font-size: 1.2rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.copyright-text{
    font-size: 0.8rem;
}
.copyright-text > p{
    margin-bottom: 0.3rem;
}
.footer-title{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
/* below colors found: https://usbrandcolors.com/ */
#facebook:hover{
    color: #4267B2;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
#twitter:hover{
    color: #1DA1F2;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
#instagram:hover{
    color: #C13584;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

/* Images */
.img-custom{
    height: 200px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

/* Back to top button */
.back-to-top-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
.update-link{
    color: #61988E;
}
.update-link:hover{
    color: #61988E;
}
.back-to-top-link,
.update-link,
.remove-item {
    cursor: pointer
}
/* Inline div for review headings got help here: https://stackoverflow.com/questions/46230992/html-placing-headers-side-by-side */
.inline-div {
    display: block;
    text-align: center;
}
.inline-div > h4{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.bottom-border{
    border-bottom: 1px solid #61988E;
}
#review-info{
    display: none;
}
#add-review-form{
    display: none;
}


/* Message container and toasts */
.message-container{
    position: fixed;
    width: 18rem;
    top: 80px;
    right: 10px;
    z-index: 9999;
    background-color: #f5f5f5;
}
.custom-toast{
    overflow: visible;
}
.toast-capper{
    height: 2px;
}
#cke_description {
    width: auto !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* getting rid of padding on ol and ul */
.ol, ul{
    padding-left: 0;
}

/* allauth forms */

.allauth-form-inner-content p {
    margin-top: 1.6rem;
    color: #6c757d;
}
.allauth-form-inner-content input {
    border-color: #493843;
    border-radius: 0;
    margin: .5rem 0;
}
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}
.allauth-form-inner-content input::-webkit-input-placeholder {
    color: #aab7c4;
}
.allauth-form-inner-content input::-moz-placeholder {
    color: #aab7c4;
}
.allauth-form-inner-content input:-ms-input-placeholder {
    color: #aab7c4;
}
.allauth-form-inner-content input::-ms-input-placeholder {
    color: #aab7c4;
}
.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #f5f5f5;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #493843;
    border: 1px solid #493843;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .2rem;

    /* standard bootstrap btn transitions */
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #f5f5f5;
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
}

.allauth-form-inner-content a {
	color: #61988E; /* text-info */
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 0.5rem;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

#image-clear_id input[type="checkbox"]::before {
    border-color: #dc3545;
    border-radius: .2rem;
}
.custom-checkbox .custom-control-label::before{
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    border-radius: o.2rem;
    background-color: #dc3545;
    border-color: #dc3545;
}


.inline-flex-pos{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: .3rem;
}
.allauth-form-inner-content button, .allauth-form-inner-content input[type='submit']{
    background-color: #61988E;
    font-weight: 500;
    border-radius: .25rem;
    border: 1px solid #61988e;
}

/* Modal */
.modal-content{
    background-color: #f5f5f5;
}
.close-btn{
    position: absolute;
    top: 0;
    right: 0;
}

/* Media queries */
@media (min-width: 1100px){
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px){
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1112;
    }

    .hdr-container{
        padding-top: 220px;
    }
}

@media (max-width: 991px){
    .hdr-container{
        padding-top: 150px;
    }
    body{
        height: calc(100vh - 150px);
    }
    a.nav-link{
        padding: 0.1rem;
    }
    .nav-link i.fa-lg{
        font-size: 1rem;
    }
    .navbar-toggler-icon{
        padding: .5rem 0.5rem;
        font-size: 1rem;
    }

    #delivery-information h4{
        font-size: 1rem;
    }
    .btn.btn-lg.text-uppercase.btn-.bg-col,
    .btn.btn-outline-dark,
    .btn.text-uppercase.btn-bg-col{
        padding: .3rem .3rem;
        font-size: .7rem;
    }
    .decrement-qty .increment-qty{
        padding: 0.25rem 0.5rem !important;
    }
    ul{
        font-size: 0.8rem;
    }
    .btn-text{
        font-size: 0.8rem;;
    }
    .allauth-form-inner-content button, .allauth-form-inner-content input[type='submit']{
        font-size: 0.8rem;
    }
}