<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto bg-color">

        <li class="nav-item">
            <a href="" class="nav-link text-bright mt-0 me-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link text-bright mt-0 me-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Training Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Training Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link text-bright mt-0 me-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Shirts</a>
                <a href="" class="dropdown-item">Stringers</a>
                <a href="" class="dropdown-item">Shorts</a>
                <a href="" class="dropdown-item">All Fitness Clothing</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="" class="nav-link text-bright mt-0 me-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Classes
            </a>
        </li>
    </ul>
</div>