{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-pad mt-5 mb-3 h-100">
        <div class="row">
            <div class="col mb-3">
                <h2 class="fw-bold mb-4 display-6">Blog</h2>
                <hr>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <div class="text-center">
                            <a href="{% url 'add_blog_post' %}" class="btn rounded-2 btn-outline-dark text-decoration-none text-bright">Add a Blog Post</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% for post in posts %}
                <div class="col-12 col-lg-8 offset-lg-2 mt-2 mb-5">
                    <div class="posts">
                        <div class="post-block">
                            <h2 class="subtitle">{{ post.title }}</h2>
                            <p>{{ post.intro  }}</p>
                        </div>
                        <a href="{% url 'blog_post' post.slug %}" class="text-bright">Read more</a>
                        {% if request.user.is_superuser %}
                            <div class="text-start mt-2">
                                <a href="{% url 'edit_blog_post' post.id %}" class="text-decoration-none text-bright">Edit</a> | 
                                <a href="{% url 'delete_blog_post' post.id %}" class="text-danger text-decoration-none">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
