{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-pad">
        <div class="row">
            <div class="col-12">
                <h1>{{ post.title }}</h1>
                <small>{{ post.user }}</small>
                <hr>
                <h3>Add Comment</h3>
            </div>
        </div>
    </div>
{% endblock %}