{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="Description" content="Enter your description here"/>
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
        <!-- bootstrap css -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        {% block favicon %}
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        {% endblock %}

        <title>Fit As A Fiddle {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top">
            <div id="mainnav" class="row nav-bg pt-lg-2 d-none d-lg-flex bg-color">
                <div class="col-12 col-lg-4 text-center text-lg-left">
                    <a href="{% url 'home' %}">
                        <div class="logo-container">
                            <img src="{% static 'images/Fit as a Fiddle.svg' %}" alt="Fit as a fiddle logo" class="fit-logo">
                        </div>
                    </a>
                </div>

                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <button class="btn btn-black" type="submit">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                            <input type="text" name="search" class="form-control" placeholder="Search our site" aria-label="Search our site" aria-describedby="basic-addon1">
                        </div>
                    </form>
                </div>

                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right">
                        <li class="list-inline-item dropdown logo-color">
                            <a href="" id="user-options" class="nav-link logo-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>                                
                            </a>
                            <div class="dropdown-menu border-1" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register an account</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item logo-color">
                            <a href="{% url 'view_bag' %}" class="{% if grand_total %}text-info font-weight-bold{% else %}logo-color{% endif %} nav-link logo-color">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-color">
                <nav class="navbar navbar-expand-lg bg-color w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon align-middle"><i class="fas fa-bars"></i></span>
                    </button>
                    {% include 'includes/mobile_nav.html' %}
                    {% include 'includes/main_nav.html' %}
                  </nav>
            </div>
            <div class="row text-center delivery-information" id="delivery-information">
                <div class="col btn-bg-col">
                    <h4 class="my-2">Free Delivery for orders over €{{ free_delivery }}</h4>
                </div>
            </div>
        </header>

        {% if messages %}
            <div class="message-container">

            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        <div class="content-block py-5 mb-2">

        </div>
        {% endblock %}

        {% block footer %}
        <footer class="page-footer fixed-bottom bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-12 clearfix">
                        <span class="recipedia-text center-align footer-title float-start">Connect with us on Social media</span>
                        <ul class="list-inline list-unstyled social-icons float-end">
                            <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i
                                        class="fab fa-facebook-f" id="facebook" title="Facebook"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i
                                        class="fab fa-instagram" id="instagram" title="Instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"
                                        id="twitter" title="Twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer-copyright">
                <div class="col-12 recipedia-text center-align copyright-text">
                    <p class="text-center">Copyright &copy; 2021 by Brian Connolly</p>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}

    </body>
</html>