{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-pad">
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="img-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                        </a>
                    {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted text-decoration-none">
                                <i class="fas fa-tag mr-2"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if avg_rating %}
                        <small class="text-muted"><i class="fas fa-star mr-2"></i> {{ avg_rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating for this Product</small>
                    {% endif %}
                    <br>
                    {% if request.user.is_superuser %}
                        <small class="ms-2">
                            <a href="{% url 'edit_product' product.id %}" class="text-decoration-none text-bright">Edit</a> | 
                            <a href="{% url 'delete_product' product.id %}" class="text-danger text-decoration-none">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-4">{{ product.description }}</p>
                    <form action="{% url 'add_to_bag' product.id %}" class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-2 w-50" name="product_size" id="product_size_id">
                                        <option value="xs">XS</option>
                                        <option value="s" selected>S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-4"><strong>Quantity</strong></p>
                                <div class="form-group w-75">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-bg-col" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-bg-col" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-3{% endif %}">
                                <a href="{% url 'products' %}" class="btn rounded-2 mt-4 btn-outline-dark">
                                    <span class="icon">
                                        <i class="far fa-hand-point-left"></i>
                                    </span>
                                    <span class="text-capitalize">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn rounded-2 py-2 text-capitalize mt-4 btn-bg-col fw-bold" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row  mt-3 mb-5">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="inline-div">
                    <h3 class="text-center mb-3" id="review">{{ reviews.count }} Reviews</h3>
                    <h3 class="text-center mb-3 ms-3" id="add-review">Add a Review</h3>
                </div>
                <div id="review-info">
                    <!-- Got help with pagination in django here: https://www.youtube.com/watch?v=wmYSKVWOOTM -->
                    {% if reviews %}
                        {% for review in page.object_list %}
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h5><strong>{{ review.title }}</strong></h5>
                                </div>
                                <div class="card-body">

                                    <h5 class="card-title">{{ review.rating }} / 5</h5>
                                    <p class="card-text">{{ review.comment }}</p>
                                    <p class="small text-muted"><i>{{ review.user }}</i></p>
                                    <p><span class="small text-muted">{{ review.created }}</span></p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3>No reviews for this product</h3>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <div class="paginate-items ms-5 mt-5">
                                <div class="current">
                                    <p>Page {{ page.number }} of {{ page.paginator.num_pages }}.</p>
                                </div>
                                <div class="step-links">
                                    {% if page.has_previous %}
                                    <a href="?page={{ page.previous_page_number }}">&laquo;
                                        Previous Page
                                    </a>
                                    {% endif %}
                                    {% if page.has_next %}
                                    <a href="?page={{ page.next_page_number }}">Next
                                        Page</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="add-review-form" class="mb-5">
                    <form action="{% url 'add_review' product.id %}" method="POST">
                        {% csrf_token %}
                        <label for="rating">Rating:</label>
                        <select name="rating" id="rating" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <label for="title">Review Heading:</label>
                        <input type="text" id="title" name="title" class="form-control" placeholder="Enter a heading for your review">

                        <label for="comment">Comment</label>
                        <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>

                        <input type="submit" class="btn rounded-2 py-2 text-capitalize mt-4 btn-bg-col" value="Add Review">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input.html' %}
{% include 'products/includes/show_hide_reviews.html' %}
{% endblock %}