<div class="toast custom-toast rounded-2 border-top-1" data-autohide="False">
    <div class="arrow-up arrow-danger"></div>
    <div class="w-100 toast-capper bg-danger"></div>
    <div class="toast-header toast-bg-col text-darker">
        <strong class="me-auto">Error!</strong>
        <button type="button" data-dismiss="toast" aria-label="Close" class="close close-btn toast-close-btn text-decoration-none text-bright">
            <i aria-hidden="true" class="far fa-window-close icon"></i>
        </button>
    </div>
    <div class="toast-body toast-bg-col">
        {{ message }}
    </div>
</div>