<div class="toast custom-toast rounded-2 border-top-1" data-autohide="False">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header toast-bg-col text-darker">
        <strong class="me-auto">Alert!</strong>
        <button type="button" data-dismiss="toast" aria-label="Close" class="mx-1 mt-1 close text-darker">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body toast-bg-col">
        {{ message }}
    </div>
</div>