<div class="toast custom-toast rounded-2 border-top-1" data-bs-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header toast-bg-col text-darker">
        <strong class="me-auto">Success!</strong>
        <button type="button" data-dismiss="toast" aria-label="Close" class="close close-btn text-decoration-none text-bright">
            <i aria-hidden="true" class="far fa-window-close icon"></i>
        </button>
    </div>
    <div class="toast-body toast-bg-col">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-2 mb-2">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="toast-bg-col text-darker py-2">Your Bag ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-2">
                            {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt=" an image of {{ item.product.name }}" class="w-100">
                            {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt=" an image of {{ item.product.name }}" class="w-100">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0 text-capitalize"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <strong><p class="mt-2 mb-2 text-darker">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">€{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 py-2 bg-warning shadow-sm text-darker text-center">
                            Spend <strong>€{{ free_delivery_delta }}</strong> more to get free delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_bag' %}" class="btn btn-outline-dark rounded-2 mt-2 border border-2 border-dark">
                        <span class="text-uppercase">Go to secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>